<div style='
    background: #ee4d64;
    color: #FFF; 
    height: 60px;
    width: 600px;
    display: flex;
    font-size: 40px; 
    font-weight: bold;
    border-radius: 4px;
    '
>
    <h1 style='
        align-self: center;
        padding-left: 40px;
        font-size: 32px;
        '
    >
        GYMPOINT
    </h1>
<div/>