<div style='
    margin-top: 80px;
    color: #333;
    font-size: 16px;
    '
>
    <p>Olá, <strong>{{ studentName }}</strong></p>
    <p>A sua pergunta foi respondida por nossa equipe!</p>
    <p>"{{ question }}"</p>
    <p>"{{ answer }}"</p>
</div>