<p>Olá, {{ studentName }},</p>
<p>
    <p>Você está inscrito no plano: <strong>{{ planName }}</strong></p>
    <p>O valor mensal será: <strong>R$ {{ planPrice }}</strong></p>
    <p>Seu plano é válido até: <strong>{{ planEndDate }}</strong></p>
</p>
<p><strong>Seja bem vindo à Gympoint!</strong></p>